li {
    
    display: inline;
    margin-left: 20px;
    padding: 10;

}
ul {
    /* background-color: #903af3; */
     /* color: rgb(78, 33, 33); */
    font-size: 30px;
    
}
li:hover{
background-color: rgb(238, 226, 226);
}
div{
    

}